
*{
    box-sizing: border-box;
}


#quiz{
    width: 100vw;
    height:100vh;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    font-size: 7rem;
    color: rgb(218, 198, 216);;
    margin-bottom: 5 rem;
    margin: 2rem;
}
#btn{
    font-size: 2.5rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(218, 198, 216);
    background: rgb(212, 38, 175);
    border-radius: 6px;
    margin-left: 11rem;
    display: block;
    font-weight: bold;
    cursor: pointer;
}
#result{
    font-size: 5rem;
    color: rgb(218, 198, 216);
    margin-bottom: 5 rem;
    margin:   30px 0 ;
}
.container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    text-align: center;
}
span{
color: rgb(212, 38, 175); 
border-bottom: yellow;
}

p1,
p6{
color: yellowgreen;
cursor:pointer;
padding: 1rem;
}

p2,
p7{
color: tomato;
cursor:pointer;
padding: 1rem;
}

p3,
p8{
color: violet;
cursor:pointer;
padding: 1rem;
}

p4,
p9{
color: yellow;
cursor:pointer;
padding: 1rem;
}

p5,
p10{
color: aqua;
cursor:pointer;
padding: 1rem;
}

p1:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p2:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p3:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p4:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p10:hover{
    color:  rgb(212, 38, 175);
    font-size: 3rem; 
}
p5:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p6:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p7:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p8:hover{
    color:  rgb(212, 38, 175);
    font-size: 3rem; 
}
p9:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
p10:hover{
    color:  rgb(212, 38, 175); 
    font-size: 3rem;
}
input[type=radio]{
    transform: scale(1.5);
    cursor: pointer;
    width: 60px;
}
span1{
    color:  rgb(212, 38, 175); 
    font-size: 2.5rem;
}
