body{
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: 1550px 900px;
    flex: auto;
}


div1,
div2,
div3,
div4,
div5{
    display: block;
    border: 10px;
    margin: 10px;
   
}
h1{
    text-align: center;
    border-style:dotted;
    color: rgb(228, 149, 47);
}
button{
    display: block;
}
